.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #fff202fa;
    margin-bottom: 20px;
}

h2 {
    color: #0066cc; /* Azul */
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
